<% if @airport.errors.any? %>
  <div id="errors">
    <ul>
    <% @airport.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @airport do |f| %>

  <p>
    <%= f.label :code %>
    <%= f.text_field :code, :size => 3, required: true %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Enter an airport code" %>
  </p>

  <%= submit_tag  %>

<% end %>
